.nav-item {
  background-color: var(--gray-color);
}
.mycart-image {
  height: 17.5rem;
  width: 14.3rem;
}

.mycart-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.mycart-container {
  display: flex;
  width: 28rem;
  height: 17.5rem;
  background-color: var(--white-color);
  box-shadow: 1px 1px 10px var(--black-color);
  position: absolute;
  top: 25%;
  left: 20%;
  padding: 0;
}

.plus-minus {
  text-decoration: none;
  color: var(--black-color);
  border: 1px solid var(--light-gray);
  border-radius: 100%;
  padding: 5px;
}

.number-of-items {
  width: 20%;
  text-align: center;
  border-radius: 5px;
}

.btn-remove {
  padding: 5px;
  width: 90%;
  background-color: var(--gray-color);
  border: none;
  color: var(--white-color);
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn-wishlist {
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
}

.off-price {
  color: var(--gray-color);
}

.mycart-description {
  align-self: center;
  padding: 0px 10px;
}

.price-container {
  background-color: var(--white-color);
  width: 20rem;
  height: 18.75rem;
  box-shadow: 1px 1px 10px var(--black-color);
  position: absolute;
  top: 25%;
  left: 55%;
}

.price-details-heading {
  text-align: center;
}

.list {
  display: inline;
  padding: 10px;
  margin: 10px;
}

.price-items {
  padding-right: 10px;
  text-align: right;
  float: right;
}

.item {
  padding: 10px;
}

.saved-money {
  color: var(--gray-color);
}

.btn-place-order {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: var(--blue-color);
  border: none;
  color: var(--white-color);
}

.short-description {
  padding-left: 5px;
}
